//TODO: I should use compass...
@import '../../../../base/static/base/css/styleguide';

.sudoku_board {
  margin: 10px;
  border-top: 1px solid $black;
  border-left: 1px solid $black;
  .square {
    width: 50px;
    height: 40px;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    text-align: center;
  }
}