//TODO: I should use compass...
@import '../../../../base/static/base/css/styleguide';

.play-navbar {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 40px;
  .message {
    margin-top: 10px;
    display: none;
    text-align: center;
    font-size: 16px;
  }
  .message-default {
    display: block;
  }
}

.sudoku_board {
  border: 3px solid $black;
  margin: 0;
  margin-bottom: 10px;
  .square {
    font-size: 18px;
    height: 50px;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    &.thick_boarder_bottom {
      border-bottom: 3px solid $black;
    }
    &.thick_boarder_right {
      border-right: 3px solid $black;
    }
    div {
      text-align: center;
      font-weight: bold;
    }
    input {
      outline: none;
      border: none;
      border-color: transparent;
      width: 99%;
      height: 99%;
      text-align: center;
      font-size: 20px;
      color: $green;
      &:focus {
        color: $blue;
      }
    }
  }
}

.timer {
  margin-bottom: 2px;
  .clock {
    font-size: 16px;
    margin-top: 3px;
    p {
      display: inline-block;
      margin-bottom:0;
    }
  }
  .play-button {
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #000;
    .play {
      margin: 4px 10px;
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 12px solid #000;
      border-bottom: 8px solid transparent;
    }
    .pause {
      margin: 4px 10px;
      width: 12px;
      height: 16px;
      border-right: 4px solid #000;
      border-left: 4px solid #000;
    }
  }
}

.option-panel {
  margin-bottom: 20px;
  .btn {
    width: 100%;
  }
}


@media (max-width: 767px) {
  .option-panel {
    margin-top: 20px;
    .btn {
      margin-bottom: 10px;
    }
  }
  .play-navbar {
    margin-bottom: 0;
  }
}
