<table class="sudoku_board js-sudoku_board">
  {% for row_num in puzzle %}
    <tr class="sudoku_row">
      {% for col_num in row_num %}
        <td class="square {% if forloop.counter in height_border %}thick_border_right{% endif %} {% if forloop.parentloop.counter in height_border %}thick_border_bottom{% endif %}">
          {% if col_num != 0 %}
            <div class="js-cell">{{ col_num }}</div>
          {% else %}
            <input type="number" class="js-cell">
          {% endif %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>