{% extends "base/base.html" %}

{% load staticfiles %}
{% block css %}
  <link rel="stylesheet" href="{% static 'play/css/play.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div id="board" class="row">
      <table class="col-md-6 col-xs-12 col-md-push-3 sudoku_board">
        {% for row_num in puzzle %}
          <tr class="sudoku_row">
            {% for col_num in row_num %}
              <td class="square
                         {% if forloop.counter  == 3 or forloop.counter == 6 %}thick_boarder_right{% endif %}
                         {% if forloop.parentloop.counter == 3 or forloop.parentloop.counter == 6 %}thick_boarder_bottom{% endif %}">
                {% if col_num != 0 %}
                <div>{{ col_num }}</div>
                {% else %}
                  <input class="js-{{ forloop.counter }}:{{ forloop.parentloop.counter }}" type="text">
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div><!-- /.board -->
  <button class="btn btn-primary btn-lg">Check!</button>
  <button class="btn btn-danger btn-lg">Reset</button>
  <button class="btn btn-lg">New Game</button>
  </div><!-- /.container -->
{% endblock %}

{% block js %}
  <script src="{% static 'play/js/play.js' %}"></script>
{% endblock %}

