<div class="navbar play-navbar bg-primary js-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="message message-default js-message-default">
          Your random Sudoku puzzle is below. <strong>Good Luck!</strong>
        </div>
        <div class="message js-message-warning">
          <strong>So far, so good!</strong> But you haven't finished the puzzle yet!
        </div>
        <div class="message js-message-danger">
          <strong>Sorry!</strong> The puzzle is incorrect.
        </div>
        <div class="message js-message-error">
          <strong>Oops!</strong> Looks like there was a problem checking your puzzle. Please try again!
        </div>
        <div class="message js-message-success">
          <strong>Success!</strong> You correctly completed the puzzle!
        </div>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.navbar -->
