{% extends "base/base.html" %}

{% load staticfiles %}
{% block css %}
  <link rel="stylesheet" href="{% static 'play/css/play.css' %}">
{% endblock %}

{% block content %}
  <div class="container">
    <div id="board">
      <table class="sudoku_board">
        {% for row_num in '123456789' %}
          <tr class="sudoku_row">
            {% for col_num in '123456789' %}
              <td class="square
                         {% if forloop.counter  == 3 or forloop.counter == 6 %}thick_boarder_right{% endif %}
                         {% if forloop.parentloop.counter == 3 or forloop.parentloop.counter == 6 %}thick_boarder_bottom{% endif %}">
                <div contenteditable>{{ col_num }}</div>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div><!-- /.board -->
  <button class="btn btn-primary btn-lg">Check!</button>
  <button class="btn btn-danger btn-lg">Reset</button>
  </div><!-- /.container -->
{% endblock %}