<div class="navbar play-navbar bg-primary js-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="message message-blank js-alert-blank">
          <button type="button" class="close js-close-alert"><span aria-hidden="true">&times;</span></button>
          <strong>Good Luck!</strong> But haven't finished the puzzle yet!
        </div>
        <div class="message js-alert-warning">
          <button type="button" class="close js-close-alert"><span aria-hidden="true">&times;</span></button>
          <strong>So far so good!</strong> But you haven't finished the puzzle yet!
        </div>
        <div class="message js-alert-danger">
          <button type="button" class="close js-close-alert"><span aria-hidden="true">&times;</span></button>
          <strong>Sorry!</strong> The puzzle is incorrect!
        </div>
        <div class="message js-alert-error">
          <button type="button" class="close js-close-alert"><span aria-hidden="true">&times;</span></button>
          <strong>Oops!</strong> Looks like there was a problem checking your puzzle. Please try again!
        </div>
        <div class="message js-alert-success">
          <button type="button" class="close js-close-alert"><span aria-hidden="true">&times;</span></button>
          <strong>Success!</strong> You completed finished the puzzle yet!
        </div>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.navbar -->
