<div class="navbar bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-success alert-blank js-alert-blank" role="alert">
          <strong>Good Luck!</strong> But haven't finished the puzzle yet!
        </div>
        <div class="alert alert-warning alert-dimdissible js-alert-warning" role="alert">
          <button type="button" class="close js-close-alert"><span aria-hidden="true">&times;</span></button>
          <strong>So far so good!</strong> But you haven't finished the puzzle yet!
        </div>
        <div class="alert alert-danger alert-dimdissible js-alert-danger" role="alert">
          <button type="button" class="close js-close-alert"><span aria-hidden="true">&times;</span></button>
          <strong>Sorry!</strong> The puzzle is incorrect!
        </div>
        <div class="alert alert-danger alert-dimdissible js-alert-error" role="alert">
          <button type="button" class="close js-close-alert"><span aria-hidden="true">&times;</span></button>
          <strong>Oops!</strong> Looks like there was a problem checking your puzzle. Please try again!
        </div>
        <div class="alert alert-success alert-dimdissible js-alert-success" role="alert">
          <button type="button" class="close js-close-alert"><span aria-hidden="true">&times;</span></button>
          <strong>Success!</strong> You completed finished the puzzle yet!
        </div>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.navbar -->
