{% extends "base/base.html" %}

{% load staticfiles %}
{% block css %}
  <link rel="stylesheet" href="{% static 'play/css/play.css' %}">
{% endblock %}

{% block header %}
  {% include 'base/header.html' %}
  {% include 'play/play_header.html' %}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-10 col-xs-12 col-md-push-2 col-sm-push-1">
        <div class="row">
          <div class="timer col-xs-12">
            <div class="play-button btn-warning pull-right js-play-button">
              <div class="pause js-timer-control"></div>
            </div>
            <div class="clock pull-right">
              <p>Play Time:&nbsp;</p><p class="js-clock"></p>
            </div>
          </div><!-- /.col -->
        </div><!-- /.row -->
        <div class="row">
          <div id="board" class="col-xs-12">
            {% include 'play/board.html' %}
          </div><!-- /.board -->
        </div><!-- /.row -->
        <div class="row option-panel">
          <div class="col-sm-3 col-xs-12">
            <button class="btn btn-primary btn-lg js-check">Check Me</button>
          </div>
          <div class="col-sm-3 col-xs-12 col-sm-push-3">
            <a href="{% url 'play' puzzle_id %}" class="btn btn-warning btn-lg">Reset</a>
          </div>
          <div class="col-sm-3 col-xs-12 col-sm-push-3">
            <a href="{% url 'play' %}" class="btn btn-success btn-new-game btn-lg">New Game</a>
          </div>
        </div><!-- /.row -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container -->
{% endblock %}

{% block js %}
  <script src="{% static 'play/js/timer.min.js' %}"></script>
  <script src="{% static 'play/js/play.js' %}"></script>
{% endblock %}

