{% extends "base/base.html" %}

{% block content %}
<!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Sudoku</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading">How to Play</div>
                      <div class="panel-body">
                        Sudoku (数独 sūdoku?, digit-single) (Listeni/suːˈdoʊkuː/, /-ˈdɒ-/, /sə-/; originally called Number Place)[1] is a logic-based,[2][3] combinatorial[4] number-placement puzzle. The objective is to fill a 9×9 grid with digits so that each column, each row, and each of the nine 3×3 sub-grids that compose the grid (also called "boxes", "blocks", "regions", or "sub-squares") contains all of the digits from 1 to 9. The puzzle setter provides a partially completed grid, which for a well-posed puzzle has a unique solution.
                        <br><br>
                        Completed puzzles are always a type of Latin square with an additional constraint on the contents of individual regions. For example, the same single integer may not appear twice in the same row, column or in any of the nine 3×3 subregions of the 9x9 playing board.
                        <br><br>
                        French newspapers featured variations of the puzzles in the 19th century, and the puzzle has appeared since 1979 in puzzle books under the name Number Place.[5] However, the modern Sudoku only started to become mainstream in 1986 by the Japanese puzzle company Nikoli, under the name Sudoku, meaning single number.[6] It first appeared in a US newspaper and then The Times (UK) in 2004, from the efforts of Wayne Gould, who devised a computer program to rapidly produce distinct puzzles.
                      </div>
                        <div class="panel-footer">Source: <a href="https://en.wikipedia.org/wiki/Sudoku">wikipedia.org</a></div>
                    </div>
                    <div class="panel panel-default">
                      <!-- Default panel contents -->
                      <div class="panel-heading">History</div>
                      <div class="panel-body">
                        Number puzzles appeared in newspapers in the late 19th century, when French puzzle setters began experimenting with removing numbers from magic squares. Le Siècle, a Paris daily, published a partially completed 9×9 magic square with 3×3 sub-squares on November 19, 1892.[7] It was not a Sudoku because it contained double-digit numbers and required arithmetic rather than logic to solve, but it shared key characteristics: each row, column and sub-square added up to the same number.
                        <br><br>
                        On July 6, 1895, Le Siècle's rival, La France, refined the puzzle so that it was almost a modern Sudoku. It simplified the 9×9 magic square puzzle so that each row, column and broken diagonals contained only the numbers 1–9, but did not mark the sub-squares. Although they are unmarked, each 3×3 sub-square does indeed comprise the numbers 1–9 and the additional constraint on the broken diagonals leads to only one solution.[8]
                        <br><br>
                        These weekly puzzles were a feature of French newspapers such as L'Echo de Paris for about a decade but disappeared about the time of World War I.[9]
                        <br><br>
                        The modern Sudoku was most likely designed anonymously by Howard Garns, a 74-year-old retired architect and freelance puzzle constructor from Connersville, Indiana, and first published in 1979 by Dell Magazines as Number Place (the earliest known examples of modern Sudoku).[1] Garns's name was always present on the list of contributors in issues of Dell Pencil Puzzles and Word Games that included Number Place, and was always absent from issues that did not.[10] He died in 1989 before getting a chance to see his creation as a worldwide phenomenon.[10] It is unclear if Garns was familiar with any of the French newspapers listed above.
                        <br><br>
                        The puzzle was introduced in Japan by Nikoli in the paper Monthly Nikolist in April 1984[10] as Sūji wa dokushin ni kagiru (数字は独身に限る?), which also can be translated as "the digits must be single" or "the digits are limited to one occurrence." (In Japanese, dokushin means an "unmarried person".) At a later date, the name was abbreviated to Sudoku (数独) by Maki Kaji (鍜治 真起 Kaji Maki?), taking only the first kanji of compound words to form a shorter version.[10] Sudoku is a registered trademark in Japan and the puzzle is generally referred to as Number Place (ナンバープレース Nanbāpurēsu?) or, more informally, a portmanteau of the two words, Num(ber) Pla(ce) (ナンプレ Nanpure?). In 1986, Nikoli introduced two innovations: the number of givens was restricted to no more than 32, and puzzles became "symmetrical" (meaning the givens were distributed in rotationally symmetric cells). It is now published in mainstream Japanese periodicals, such as the Asahi Shimbun.
                        <br><br>
                        The Times of London began featuring Sudoku in late 2004 after a successful appearance in a local US newspaper, from the efforts of Wayne Gould, and rapidly spread to other newspapers as a regular feature.[5][11] Gould devised a computer program to produce unique puzzles rapidly.[5]
                      </div>
                        <div class="panel-footer">Source: <a href="https://en.wikipedia.org/wiki/Sudoku">wikipedia.org</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
